{{ define "main" }}
<main>
	{{- partial "hero.html" . -}}
	<section id='main' class='section'>
		<container id='content' class='content container is-fluid'>
			{{ .Content }}
		</container>
		<container class='container is-fluid'>
			<div class='columns'>
				<div class='column is-desktop is-two-thirds'>

					{{ range .Pages }}
					<div class='content box has-text-white' {{ with .Param "hero" }}style='background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url("{{ . }}") center/1920px;'{{ end }}>
						<div class='block'>
							<p class='title is-size-4'>
								<a href='{{ .Permalink }}'>{{ .Title }}</a>
							</p>
							<p class='subtitle is-size-6'>
								<!-- {{ .Date.Format "Monday, January 2, 2006" }} -->
								{{- partial "date.html" . -}}
							</p>
							<p>
								{{ with .Params.tags }}
								<div class='tags'>
									{{ range .}}
									<a href='{{ (print "tags/" (urlize .) ) | relURL}}'
										class='tag is-primary'>{{ . }}</a>
									{{ end }}
								</div>
								{{ end }}
							</p>
						</div>
						<div class='block'>
							<p>
								{{ .Summary | safeHTML }}
							</p>
						</div>
						{{ if .Truncated }}
						<div class='block'>
							<a href='{{ .Permalink }}'>
								<button class='button is-info'>
									<span>Read more</span>
									<span class='icon'>
										<i class='fas fa-chevron-right'></i>
									</span>
								</button>
							</a>
						</div>
						{{ end }}
					</div>
					{{ end }}
				</div>
				<div class='column'>
					<div class='content box has-text-centered'>
						<p class='is-size-5'>Want to get an email when I publish a new blog post?</p>
						<a href='https://cdn.forms-content.sg-form.com/0122637e-fdcd-11eb-86f2-1a5c682fc748' target="_blank">
								<button class='button is-primary is-fullwidth'>
									<span>Join the mail list</span>
									<span class='icon'>
										<i class="fas fa-external-link-alt"></i>
									</span>
								</button>
							</a>
						
					</div>
					<div class='content box'> <!-- {{ with .Param "hero" }}style='background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url("{{ . }}") center/1920px;'{{ end }}-->
						<h6>Featured</h6>
						{{ with .Params.featured }}
						{{ with $.Site.GetPage "blog" (print . ".md") }}
						<div class='block'>
							<p class='title is-size-4'>
								<a href='{{ .Permalink }}'>{{ .Title }}</a>
							</p>
							<p class='subtitle is-size-6'>
								{{- partial "date.html" . -}}
							</p>
							<p>
								{{ with .Params.tags }}
								<div class='tags'>
									{{ range .}}
									<a href='{{ (print "tags/" (urlize .) ) | relURL}}'
										class='tag is-primary'>{{ . }}</a>
									{{ end }}
								</div>
								{{ end }}
							</p>
						</div>
						<div class='block'>
							<p>
								<!-- {{ (truncate 256 "..." .Summary) | safeHTML }} -->
								{{ (truncate 400 "..." .Summary) | safeHTML }}
								<!-- {{ .Summary | safeHTML }} -->
							</p>
						</div>
						<div class='block'>
							<a href='{{ .Permalink }}'>
								<button class='button is-info'>
									<span>Read more</span>
									<span class='icon'>
										<i class='fas fa-chevron-right'></i>
									</span>
								</button>
							</a>
						</div>
						{{ end }}
						{{ end }}
					</div>
					{{ with .Site.Taxonomies.tags }}
					<div class='content box'>
						<h6>Tags</h6>
						<p>
							<div class='tags'>
								{{ range . }}
								<a href='{{ .Page.RelPermalink }}' class='tag is-primary'>{{ .Page.Title }}</a>
								{{ end }}
							</div>
						</p>
					</div>
					{{ end }}
				</div>
			</div>
		</container>
	</section>
</main>
{{ end }}