<footer class='footer mb-0 pb-6'>
	<div class='has-text-centered'>
		<p class='block'>
			{{ with .Site.Menus.socialicons }}
			{{ range . }}
			<a href='{{ .URL }}' title='{{ .Name }}' target='_blank'>
				<span class='icon is-large'>
					<!-- <i class='fa-lg {{ with .Params.icon }}{{- . -}}{{ end }}'></i> -->
					<i class='fa-lg {{ .Pre }}'></i>
				</span>
			</a>
			{{ end }}
			{{ end }}
		</p>
		<p class='block'>
			{{ (.Site.Copyright) | safeHTML }}
			<!-- {{ (println "&copy;" (now.Format "2004") .Site.Copyright) | safeHTML }} -->

			{{ with .Site.Params.footer }}
			{{ . | $.RenderString }}
			{{ end }}
		</p>
		<p class='block mt-4'>
			<a href='https://bulma.io'>
				<noscript>
					<img src='{{ "images/bulma-white.png" | absURL }}' alt='Made with Bulma' width='128' height='24'
						media='(prefers-color-scheme: dark)'>
					<img src='{{ "images/bulma-black.png" | absURL }}' alt='Made with Bulma' width='128' height='24'
						media='(prefers-color-scheme: no-preference), (prefers-color-scheme: light)'>
				</noscript>
				<img alt='Made with Bulma' width='128' height='24' id='madeWithBulma'>
			</a>
		</p>
	</div>
</footer>