{{ define "main" }}
<main>
	{{- partial "hero.html" . -}}
	<section id='main' class='section'>
		<container id='content' class='content container is-fluid'>
			{{ .Content }}
		</container>
		<container class='container is fluid'>
			<div class='tile is-ancestor'>
				<div class='tile is-vertical is-8'>
					<div class='tile'>
						<div class='tile is-parent is-vertical'>
							<article class='tile is-child box'>
								<p class='title'>My favourite game is</p>
								<p class='subtitle'>Red Dead Redemption 2 because it has an awesome story and
									looks amazing. I also like the Assassin's Creed games, especially Black Flag.</p>
							</article>
							<article class='tile is-child box'>
								<p class='title'>My favourite place is...</p>
								<p class='subtitle'>I don't know! I haven't seen most of this beautiful world, but
									Scotland looks lovely.</p>
							</article>
						</div>
						<div class='tile is-parent'>
							<article class='tile is-child box'>
								<p class='title'>My favourite colour is</p>
								<p class='subtitle'>cyan. Turquoise, cyan and light blue-green colours are
									beautiful.</p>
								<figure class='image is-4by3 is-fullwidth'>
									<img
										src='https://ik.imagekit.io/eartharoid/images/00FFFF_xgHYfSSqW.png?updatedAt=1628458238964'>
								</figure>
							</article>
						</div>
					</div>
					<div class='tile'>
						<div class='tile is-parent'>
							<article class='tile is-child box'>
								<p class='title'>I live in</p>
								<p class='subtitle'>the East Midlands in England.</p>
								<div class='content'>
								</div>
							</article>
						</div>
						<div class='tile is-parent'>
							<article class='tile is-child box'>
								<p class='title'>My favourite food is...</p>
								<p class='subtitle'>I don't have a favourite.</p>
								<div class='content'>
								</div>
							</article>
						</div>
					</div>
					<div class='tile is-parent'>
							<article class='tile is-child box'>
								<p class='title'>I love science.</p>
								<p class='subtitle'>The universe is fascinating and finding answers to the many questions is satisfying.</p>
								<div class='content'>
								</div>
							</article>
						</div>
				</div>
				<div class='tile'>
					<div class='tile is-parent is-vertical'>
					<article class='tile is-child box'>
						<div class='content'>
							<p class='title'>I like making things.</p>
							<p class='subtitle'>I haven't done much, but making physical objects and woodworking is fun, and I enjoy making things with code too. I also like doing photography.</p>
							<div class='content'>
							</div>
						</div>
					</article>
					<article class='tile is-child box'>
						<div class='content'>
							<p class='title'>My favourite planet is</p>
							<p class='subtitle'>Earth (unsurprisingly). Although all of the planets are beautiful in their own way, Earth is different. Life fills the stunning landscape giving more colour.</p>
							<div class='content'>
							</div>
						</div>
					</article>
					<article class='tile is-child box'>
						<div class='content'>
							<p class='title'>My favourite animal is...</p>
							<p class='subtitle'>Birds are cool, lots of animals are cool. Dogs are the best pets though.</p>
							<div class='content'>
							</div>
						</div>
					</article>
				</div>
				</div>
			</div>
		</container>
	</section>
</main>
{{ end }}