{{ define "main" }}
<main>
	{{- partial "hero.html" . -}}
	<section id='main' class='section'>
		<container id='content' class='content container is-fluid'>
			{{ .Content }}
		</container>
		<container class='container is fluid'>
			<div class='tile is-ancestor'>
				<div class='tile is-vertical is-8'>
					<div class='tile'>
						<div class='tile is-parent is-vertical'>
							<article class='tile is-child notification'>
								<p class='title'>My favourite game is</p>
								<p class='subtitle'>Red Dead Redemption 2, closely followed by ...........................</p>
							</article>
							<article class='tile is-child notification'>
								<p class='title'>...tiles</p>
								<p class='subtitle'>Bottom tile</p>
							</article>
						</div>
						<div class='tile is-parent'>
							<article class='tile is-child notification'>
								<p class='title'>Middle tile</p>
								<p class='subtitle'>With an image</p>
								<figure class='image is-4by3'>
									<img src='https://bulma.io/images/placeholders/640x480.png'>
								</figure>
							</article>
						</div>
					</div>
					<div class='tile is-parent'>
						<article class='tile is-child notification'>
							<p class='title'>Wide tile</p>
							<p class='subtitle'>Aligned with the right tile</p>
							<div class='content'>
								<!-- Content -->
							</div>
						</article>
					</div>
				</div>
				<div class='tile is-parent'>
					<article class='tile is-child notification'>
						<div class='content'>
							<p class='title'>Tall tile</p>
							<p class='subtitle'>With even more content</p>
							<div class='content'>
								<!-- Content -->
							</div>
						</div>
					</article>
				</div>
			</div>
		</container>
	</section>
</main>
{{ end }}