{{ define "main" }}
<link rel='stylesheet' href='{{ "css/gallery/main.css" | relURL }}' />
<noscript>
	<link rel='stylesheet' href='{{ "css/gallery/noscript.css" | relURL }}' />
</noscript>
<main>
	{{- partial "hero.html" . -}}
	<!-- <section class='section'>
		<container id='content' class='content container is-fluid'>
			<!-/- <div class='box'> -/->
				{{ .Content }}
			<!-/- </div> -/->
		</container>
	</section> -->
	<div id='main'>
		{{ range .Pages }}
			<article class='thumb'>
				<!-- {{ $local := print .RelPermalink (.Param "featuredimage") | relURL }}
				{{ $cdn := print .Site.Params.imageKit .RelPermalink (.Param "featuredimage")}}
				{{ $img := cond .Site.IsServer $local $cdn }} -->
			<a href='{{ .Permalink }}' class='image'><img src='{{ .Param "featuredimage" }}'
					alt='{{ .Title }}' /></a>
			<h2>{{ .Title }}</h2>
		</article>
		{{ end }}
	</div>
</main>
<script src='{{ "js/gallery/jquery.min.js" | relURL }}'></script>
<script src='{{ "js/gallery/browser.min.js" | relURL }}'></script>
<script src='{{ "js/gallery/breakpoints.min.js" | relURL }}'></script>
<script src='{{ "js/gallery/util.js" | relURL }}'></script>
<script src='{{ "js/gallery/main.js" | relURL }}'></script>
{{ end }}