<!DOCTYPE html>
<html {{ if .Site.LanguageCode }} lang='{{.Site.LanguageCode}}' {{ end }}>
<!-- <html {{ if .Site.LanguageCode }} lang='{{.Site.LanguageCode}}' {{ end }} class='has-navbar-fixed-top'> -->
{{- partial "head.html" . -}}

<body>
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
	<script>
		kofiWidgetOverlay.draw('eartharoid', {
			'type': 'floating-chat',
			'floating-chat.donateButton.text': 'Support me',
			'floating-chat.donateButton.background-color': '#00C3EE',
			'floating-chat.donateButton.text-color': '#FFF'
		});
	</script>
</body>

</html>