{{ define "main" }}
<main>
	{{- partial "hero.html" . -}}
	<section id='main' class='section'>
		<container id='content' class='content container is-fluid'>
			{{ .Content }}
		</container>
		<container class='container is-fluid'>
			{{ range .Pages }}
			<div class='content box'>
				<div class='block'>
					<p class='title is-size-4'>
						<a href='{{ .Permalink }}'>{{ .Title }}</a>
					</p>
					<p class='subtitle is-size-6'>
						{{ len .Pages }} page{{ if ne (len .Pages) 1 }}s{{ end }}
					</p>
				</div>
				<div class='block'>
					<p>
						{{ if .Description }}
							{{ .Description }}
						{{ else }}
							{{ .Summary | safeHTML }}
						{{ end }}
					</p>
				</div>
				{{ if .Truncated }}
				<div class='block'>
					<a href='{{ .Permalink }}'>
						<button class='button is-info'>
							<span>View page</span>
							<span class='icon'>
								<i class='fas fa-chevron-right'></i>
							</span>
						</button>
					</a>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</container>
	</section>
</main>
{{ end }}